@import './variaveis';

.main-menu{
    // background-color: red;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    .wrapper{
        width: 1300px;
        .title{
            margin: 35px 0;
            // background-color: red;
            font-size: 20px;
        }
        .grid-products{
            // background-color: green;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 35px;
            .product{
                // background-color: blue;
                border: 1px solid #f2f2f2;
                box-shadow: 0 1px 4px rgba(0,0,0,.05);
                border-radius: 4px;
                padding: 15px;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: 1fr 180px;
                overflow: hidden;
                min-height: 147px;
                &:hover{
                    border: 1px solid #dbdad9;
                    transition: .4s;
                }
                .infos{
                    // background-color: red;
                    display: grid;
                    grid-template-rows: 1fr 20px;
                    .info-top{
                        // background-color: green;
                        .name{
                            font-size: 1.125rem;
                            font-weight: 500;
                            margin-bottom: 18px;
                            // background-color: purple;
                        }
                        .description{
                            // background-color: yellow;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            font-size: .875rem;
                            font-weight: lighter;
                            color: #717171;
                        }
                    }
                    .price{
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
                .img-box{
                    img{

                        object-fit: contain;
                        width: 100%;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }
    }
}