@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #262626;
}

/** ======================== LOGIN ADMIN ==================================== */
.main-admin {
  background-color: #d1d1d1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-admin .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}
.main-admin .logo h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.main-admin .authentication-container {
  background-color: #fff;
  box-shadow: 3px 3px 10px #888;
  display: flex;
}
.main-admin .authentication-container .authentication-header {
  background-image: url("../img/saguados.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 350px;
}
.main-admin .authentication-container .form-container {
  padding: 30px 20px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-admin .authentication-container .form-container .login-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-admin .authentication-container .form-container .login-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-admin .authentication-container .form-container .login-container .login-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  transition: 0.5s;
}
.main-admin .authentication-container .form-container .login-container .login-form .btn:hover {
  background-color: #dd0f34;
}

/** ======================== LOGIN CLIENTE ================================== */
.main-cliente {
  background-color: #d1d1d1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cliente .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}
.main-cliente .logo h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.main-cliente .authentication-container {
  background-color: #fff;
  box-shadow: 3px 3px 10px #888;
  display: flex;
}
.main-cliente .authentication-container .authentication-header {
  background-image: url("../img/saguados.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 350px;
}
.main-cliente .authentication-container .form-container {
  padding: 30px 20px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cliente .authentication-container .form-container .login-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-cliente .authentication-container .form-container .login-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.main-cliente .authentication-container .form-container .login-container .login-form .btn:hover {
  background-color: #dd0f34;
}
.main-cliente .authentication-container .form-container .login-container .login-form .account-info {
  margin-top: 15px;
  font-size: 14px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .account-info a {
  color: #b30021;
  font-weight: bold;
}
.main-cliente .authentication-container .form-container .signup-container {
  height: 450px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0 30px 0;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  transition: 0.5s;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .btn:hover {
  background-color: #dd0f34;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .account-info {
  margin-top: 15px;
  font-size: 14px;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .account-info a {
  color: #b30021;
  font-weight: bold;
}

/** =============================== MENU ==================================== */
/** ======================== CABECALHO CLIENTE ============================== */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -1px 0 #dcdcdc;
}
header .container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
header .container .links {
  display: flex;
  gap: 4px;
  font-size: 16px;
}
header .container .links li {
  gap: 10px;
  padding: 5px 12px;
  border-radius: 25px;
}
header .container .links li p {
  font-size: 11px;
}
header .container .links li i {
  color: #b30021;
}
header .container .links li a:hover {
  color: #b30021;
  transition: 0.2s;
}
header .container .links li:nth-child(1) {
  display: flex;
  align-items: center;
}
header .container .links li:nth-child(3) {
  display: flex;
  align-items: center;
}
header .container .links li:nth-child(3):hover {
  background-color: #eeeeee;
  transition: 0.5s;
  cursor: pointer;
}
header .container .links .bi.bi-basket3 {
  font-size: 25px;
  margin-bottom: 2px;
}
header .container .links .bi.bi-person {
  font-size: 32px;
}
header .container .links .dropdown {
  position: relative;
  float: right;
}
header .container .links .dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
header .container .links .dropdown .dropdown-content {
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  right: 15;
  transform: translateY(5px);
}
header .container .links .dropdown .dropdown-content h1 {
  font-size: 28px;
  padding: 10px 0 20px;
}
header .container .links .dropdown .dropdown-content a {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 60px;
  padding: 10px 0;
}
header .container .links .dropdown .dropdown-content a .icon {
  font-size: 32px;
}
header .container .links .dropdown .dropdown-content a .icon i {
  color: #262626;
}
header .container .links .dropdown .dropdown-content a .text {
  font-size: 24px;
  width: 150px;
}
header .container .links .dropdown .dropdown-content a:hover .text, header .container .links .dropdown .dropdown-content a:hover .icon i {
  color: #b30021;
  transition: 0.2s;
}
header .container .links .dropdown:hover .dropdown-content {
  display: flex;
}/*# sourceMappingURL=style.css.map */