@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #262626;
}

.wrapper {
  min-height: 100%;
  padding: 0 20px;
  width: 1420px;
}

/** ======================== LOGIN ADMIN ==================================== */
.main-admin {
  background-color: #d1d1d1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-admin .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}
.main-admin .logo h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.main-admin .authentication-container {
  background-color: #fff;
  box-shadow: 3px 3px 10px #888;
  display: flex;
}
.main-admin .authentication-container .authentication-header {
  background-image: url("../img/saguados.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 350px;
}
.main-admin .authentication-container .form-container {
  padding: 30px 20px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-admin .authentication-container .form-container .login-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-admin .authentication-container .form-container .login-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-admin .authentication-container .form-container .login-container .login-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-admin .authentication-container .form-container .login-container .login-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  transition: 0.5s;
}
.main-admin .authentication-container .form-container .login-container .login-form .btn:hover {
  background-color: #dd0f34;
}

/** ======================== LOGIN CLIENTE ================================== */
.main-cliente {
  background-color: #d1d1d1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cliente .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}
.main-cliente .logo h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.main-cliente .authentication-container {
  background-color: #fff;
  box-shadow: 3px 3px 10px #888;
  display: flex;
}
.main-cliente .authentication-container .authentication-header {
  background-image: url("../img/saguados.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 350px;
}
.main-cliente .authentication-container .form-container {
  padding: 30px 20px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cliente .authentication-container .form-container .login-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-cliente .authentication-container .form-container .login-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.main-cliente .authentication-container .form-container .login-container .login-form .btn:hover {
  background-color: #dd0f34;
}
.main-cliente .authentication-container .form-container .login-container .login-form .account-info {
  margin-top: 15px;
  font-size: 14px;
}
.main-cliente .authentication-container .form-container .login-container .login-form .account-info a {
  color: #b30021;
  font-weight: bold;
}
.main-cliente .authentication-container .form-container .signup-container {
  height: 450px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box {
  display: flex;
  flex-direction: column;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box .input-title {
  color: #868686;
  font-size: 12px;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .input-box input {
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0 30px 0;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  transition: 0.5s;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .btn:hover {
  background-color: #dd0f34;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .account-info {
  margin-top: 15px;
  font-size: 14px;
}
.main-cliente .authentication-container .form-container .signup-container .signup-form .account-info a {
  color: #b30021;
  font-weight: bold;
}

/** =============================== MENU ==================================== */
.main-menu {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.main-menu .wrapper {
  width: 1300px;
}
.main-menu .wrapper .title {
  margin: 35px 0;
  font-size: 20px;
}
.main-menu .wrapper .grid-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.main-menu .wrapper .grid-products .product {
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 15px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 180px;
  overflow: hidden;
  min-height: 147px;
  position: relative;
  cursor: pointer;
}
.main-menu .wrapper .grid-products .product:hover {
  border: 1px solid #dbdad9;
  transition: 0.4s;
}
.main-menu .wrapper .grid-products .product button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}
.main-menu .wrapper .grid-products .product .infos {
  display: grid;
  grid-template-rows: 1fr 20px;
}
.main-menu .wrapper .grid-products .product .infos .info-top .name {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 18px;
}
.main-menu .wrapper .grid-products .product .infos .info-top .description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 0.875rem;
  font-weight: lighter;
  color: #717171;
}
.main-menu .wrapper .grid-products .product .infos .price {
  font-weight: 500;
  font-size: 1rem;
}
.main-menu .wrapper .grid-products .product .img-box img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  aspect-ratio: 1/1;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with an opacity of 0 */
  }
  to {
    opacity: 1; /* End with an opacity of 1 */
  }
}
.product-overlay {
  z-index: 1000;
  background-color: rgba(113, 113, 113, 0.9);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn; /* Name of the fade-in animation */
  animation-duration: 0.1s; /* Duration of the animation */
  animation-fill-mode: forwards; /* Keeps the element in its final state after the animation ends */
  opacity: 0;
}
.product-overlay .product-display {
  background-color: #fff;
  width: 500px;
  border-radius: 4px;
  padding: 0 10px;
}
.product-overlay .product-display .display-header {
  width: 100%;
  height: 40px;
  padding: 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product-overlay .product-display .display-header .display-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-overlay .product-display .display-header .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 40px;
}
.product-overlay .product-display .display-header .close-btn i {
  color: #b30021;
}
.product-overlay .product-display .infos {
  padding: 10px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-overlay .product-display .infos .description {
  font-size: 0.875rem;
  font-weight: lighter;
  color: #717171;
}
.product-overlay .product-display .infos .price {
  font-weight: 500;
  font-size: 1rem;
}
.product-overlay .product-display hr {
  border: none;
  height: 2px;
  background-color: #f5f0eb;
}
.product-overlay .product-display .display-bottom {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.product-overlay .product-display .display-bottom form {
  display: flex;
  gap: 20px;
}
.product-overlay .product-display .display-bottom form .add-to-cart-btn {
  background-color: #b30021;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.product-overlay .product-display .display-bottom form .add-to-cart-btn span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.product-overlay .product-display .display-bottom form .count-btn {
  display: flex;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
.product-overlay .product-display .display-bottom form .count-btn input[type=number] {
  -moz-appearance: textfield;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 50px;
}
.product-overlay .product-display .display-bottom form .count-btn input::-webkit-outer-spin-button,
.product-overlay .product-display .display-bottom form .count-btn input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-overlay .product-display .display-bottom form .count-btn button {
  background: none;
  border: none;
  font-size: 30px;
  color: #b30021;
  cursor: pointer;
}
.product-overlay .product-display .display-bottom form .count-btn .increase-btn {
  padding: 0 10px 0 0;
}
.product-overlay .product-display .display-bottom form .count-btn .decrease-btn {
  padding: 0 0 0 10px;
}

/** ======================== CABECALHO CLIENTE ============================== */
.cliente-header {
  background-color: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -1px 0 #dcdcdc;
}
.cliente-header .container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cliente-header .container .logo {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.cliente-header .container .links {
  display: flex;
  gap: 4px;
  font-size: 16px;
}
.cliente-header .container .links li {
  gap: 10px;
  padding: 5px 12px;
  border-radius: 25px;
}
.cliente-header .container .links li p {
  font-size: 11px;
}
.cliente-header .container .links li i {
  color: #b30021;
}
.cliente-header .container .links li a:hover {
  color: #b30021;
  transition: 0.2s;
}
.cliente-header .container .links li:nth-child(1) {
  display: flex;
  align-items: center;
}
.cliente-header .container .links li:nth-child(3) {
  display: flex;
  align-items: center;
}
.cliente-header .container .links li:nth-child(3):hover {
  background-color: #eeeeee;
  transition: 0.5s;
  cursor: pointer;
}
.cliente-header .container .links .bi.bi-basket3 {
  font-size: 25px;
  margin-bottom: 2px;
}
.cliente-header .container .links .bi.bi-person {
  font-size: 32px;
}
.cliente-header .container .links .dropdown {
  position: relative;
  float: right;
}
.cliente-header .container .links .dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.cliente-header .container .links .dropdown .dropdown-content {
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  right: 15;
  transform: translateY(5px);
}
.cliente-header .container .links .dropdown .dropdown-content h1 {
  font-size: 28px;
  padding: 10px 0 20px;
}
.cliente-header .container .links .dropdown .dropdown-content a {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 60px;
  padding: 10px 0;
}
.cliente-header .container .links .dropdown .dropdown-content a .icon {
  font-size: 32px;
}
.cliente-header .container .links .dropdown .dropdown-content a .icon i {
  color: #262626;
}
.cliente-header .container .links .dropdown .dropdown-content a .text {
  font-size: 24px;
  width: 150px;
}
.cliente-header .container .links .dropdown .dropdown-content a:hover .text, .cliente-header .container .links .dropdown .dropdown-content a:hover .icon i {
  color: #b30021;
  transition: 0.2s;
}
.cliente-header .container .links .dropdown:hover .dropdown-content {
  display: flex;
}

.sidenav {
  height: calc(100% - 80px);
  width: 0;
  position: fixed;
  z-index: 998;
  top: 80;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav.open {
  width: 450px;
  transition: 0;
  padding: 20px 45px;
}
.sidenav .closebtn {
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  position: absolute;
  top: 5;
  left: 20;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #b30021;
}
.sidenav .title {
  font-size: 14px;
  font-weight: lighter;
  color: #717171;
}
.sidenav hr {
  border: none;
  height: 1px;
  background-color: #dcdcdc;
  margin: 10px 0;
}
.sidenav .items {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: 500;
}
.sidenav .items .left-items {
  font-weight: normal;
}
.sidenav .options {
  display: flex;
  padding: 0 0 15px 0;
  gap: 35px;
}
.sidenav .options a:nth-child(1) {
  color: #b30021;
}
.sidenav .options a:nth-child(2) {
  color: #a6a29f;
}
.sidenav .options a {
  font-size: 12px;
  font-weight: bold;
}

/** ===================================CLIENTE ============================== */
.cliente-container {
  height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cliente-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cliente-container .wrapper .wrapper-perfil {
  width: 1200px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user .perfil-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user h1 {
  text-align: center;
  font-size: 32px;
  width: 200px;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user-list {
  display: flex;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user-list ul {
  width: 100%;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user-list ul li {
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user-list ul li:hover {
  background-color: #eeeeee;
}
.cliente-container .wrapper .wrapper-perfil .perfil-container .user-list ul li a {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
}
.cliente-container .wrapper .wrapper-perfil .perfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.cliente-container .wrapper .wrapper-perfil .perfil .cards {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cliente-container .wrapper .wrapper-perfil .perfil .cards .bi {
  font-size: 100px;
}
.cliente-container .wrapper .wrapper-perfil .perfil .cards .bi.bi-person {
  font-size: 120px;
}
.cliente-container .wrapper .wrapper-perfil .perfil .cards button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.cliente-container .wrapper .wrapper-perfil .user-info {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cliente-container .wrapper .wrapper-perfil .user-info .leave-btn {
  position: absolute;
  background: none;
  border: none;
  padding: 20px;
  top: 0;
  left: 0;
  font-size: 35px;
  cursor: pointer;
}
.cliente-container .wrapper .wrapper-perfil .user-info .leave-btn i:hover {
  color: #b30021;
}
.cliente-container .wrapper .wrapper-perfil .user-info h1 {
  position: absolute;
  top: 0;
  margin-top: 20px;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form {
  background-color: peru;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form .cliente-input {
  background-color: honeydew;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form .cliente-input .input-box {
  display: flex;
  flex-direction: column;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form .cliente-input .input-box input {
  margin-top: 7px;
  width: 300px;
  height: 50px;
  background: none;
  outline: none;
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 4px;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form .btn-form {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  transition: 0.5s;
  position: absolute;
  bottom: 20;
}
.cliente-container .wrapper .wrapper-perfil .user-info .cliente-form .btn-form:hover {
  background-color: #dd0f34;
}
.cliente-container .wrapper .wrapper-perfil .user-pedidos {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cliente-container .wrapper .wrapper-perfil .user-pedidos .leave-btn {
  position: absolute;
  background: none;
  border: none;
  padding: 20px;
  top: 0;
  left: 0;
  font-size: 35px;
  cursor: pointer;
}
.cliente-container .wrapper .wrapper-perfil .user-pedidos .leave-btn i:hover {
  color: #b30021;
}
.cliente-container .wrapper .wrapper-perfil .user-pedidos h1 {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

/** ========================================================================= */
/** ======== CABECALHO ======== */
nav {
  background-color: #d1d1d1;
  height: 70px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 0.5px 10px #888888;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.nav-container {
  /* background-color: gold; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-list {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

.nav-container .nav-list li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  padding: 0 15px 0 15px;
}

.nav-container .nav-list li:hover {
  border-bottom: 1px solid #262626;
}

.nav-container .nav-list a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-container .user-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-container .user-info a:hover {
  color: red;
}

/** ============ LISTA USUÁRIO =============*/
.lista-container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  border: 1px solid black;
  min-height: 600px;
  border-radius: 10px;
  width: 1200px;
}

.table .table-header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 15px;
}

.lista-container {
  background-color: #d1d1d1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-container main.table {
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.3333333333);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3333333333);
  border-radius: 0.8rem;
  overflow: hidden;
  border: none;
}

.lista-container .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 1rem 1rem;
  border: none;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3333333333);
}

.lista-container .table-body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(255, 255, 255, 0.7333333333);
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
}

.lista-container .table-body tr {
  position: sticky;
}

.lista-container .table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.lista-container .table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2666666667);
  visibility: hidden;
}

.lista-container .table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.lista-container table {
  width: 100%;
  background-color: #868686;
}

.lista-container table, th, td {
  text-align: center;
  border-collapse: collapse;
  padding: 1rem;
}

.lista-container thead th {
  top: 0;
  left: 0;
  background-color: rgba(213, 209, 222, 0.9960784314);
}

.lista-container tbody tr.even {
  background-color: rgba(0, 0, 0, 0.0431372549);
}

.lista-container tbody tr:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.4);
}

.lista-container .status {
  padding: 0.4rem 0;
  border-radius: 2rem;
}

.lista-container .status.ativo {
  background-color: #86e49d;
  color: #006b21;
}

.lista-container .status.inativo {
  background-color: #d893a3;
  color: #b30021;
}

/** BOTÃO ALTERAR */
.lista-container .btn-alterar {
  width: 6rem;
  padding: 10px 15px;
  background-color: #b30021;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.lista-container .btn-alterar .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.lista-container .btn-alterar:hover {
  background-color: #dd0f34;
}

/** OPÇÕES DE VISUALIZAÇÃO - RADIO BUTTONS */
.lista-container .form-container {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.lista-container .form-container form {
  display: flex;
}

.lista-container .radio {
  display: none;
}

.lista-container .radio-label {
  padding: 8px 14px;
  font-size: 14px;
  color: #FFF;
  background: #dd0f34;
  cursor: pointer;
  transition: background 0.1s;
}

.lista-container .radio-label:not(:last-of-type) {
  border-right: 1px solid #b30021;
}

.lista-container .radio:checked + .radio-label {
  background: #b30021;
}

.lista-container .btn-cadastrar {
  padding: 10px 15px;
  background-color: #b30021;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: #fff;
  font-weight: bold;
}

.lista-container .btn-cadastrar:hover {
  background-color: #dd0f34;
}

/** ========== CADASTRA ======== */
.cadastra-container {
  padding: 90px 0;
  background-color: #d1d1d1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastra-container.cliente {
  padding-bottom: 0;
}

.cadastra-container input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.cadastra-container .input-box {
  border: none;
  padding: 15px 15px;
  border: 1px solid #868686;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.cadastra-container #desc {
  resize: none;
  height: 100px;
  background-color: transparent;
  border: none;
  outline: none;
}

.cadastra-container .btn {
  border: none;
  background-color: #b30021;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  width: 100%;
}

.cadastra-container .btn:hover {
  background-color: #dd0f34;
}

.cadastra-form {
  width: 500px;
}

/** ============ ALTERA  =============*/
.cadastra-container .form-container {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
}

.cadastra-container .form-container form {
  display: flex;
}

.cadastra-container .radio {
  display: none;
}

.cadastra-container .radio-label {
  padding: 8px 14px;
  font-size: 14px;
  color: #FFF;
  background: #dd0f34;
  cursor: pointer;
  transition: background 0.1s;
}

.cadastra-container .radio-label:not(:last-of-type) {
  border-right: 1px solid #b30021;
}

.cadastra-container .radio:checked + .radio-label {
  background: #b30021;
}

/** ============= CLIENTE =============== *//*# sourceMappingURL=style.css.map */